/* PAGE */
.dashboard-page {
  margin-left: 220px;
  padding: 25px;
  background: #f4f6f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* TITLE */
.title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #1f2937;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* CARD BASE */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* COLORS */
.blue {
  background: #2563eb;
}
.green {
  background: #16a34a;
}
.orange {
  background: #f59e0b;
}
.red {
  background: #ef4444;
}

/* CARD TEXT */
.card h3 {
  margin: 0;
  font-size: 16px;
  opacity: 0.9;
}

.card p {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

/* BOTTOM SECTION */
.bottom-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

/* BOXES */
.activity,
.notice {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.activity h2,
.notice h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #111827;
}

/* LIST */
.activity ul {
  list-style: none;
  padding: 0;
}

.activity li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

/* NOTICE TEXT */
.notice p {
  font-size: 14px;
  color: #374151;
  line-height: 1.6;
}
